h1{
    text-align: center;
  
    color: white;
}

.form-section{
 
}
.form-section .user-box {
    position: relative;
  }
  
  .form-section .user-box input {
    border:1px solid black;
    width: 400px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
 transition: ease 0.3s ;
    outline: none;
    background: transparent;
  }
  .form-section .user-box label {
    position: absolute;
    top:0;
    left: 10px;
   
    font-size: 16px;
    color: #b3b1b1;
    pointer-events: none;
    transition: .5s;
    padding: 10px 5px;
  }
  
  .form-section .user-box input:focus ~ label,
  .form-section .user-box input:valid ~ label {
    top: -15px;
    left: 10px;
    color: rgba(0, 0, 255, 0.718);
    font-size: 12px;
    background: white;
    
    
  }
  .form-section .user-box input:focus ,
  .form-section .user-box input:valid  {
   
    border:1px solid rgba(0, 0, 255, 0.718);
  }